---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$yellow: #ffbf2e;

// Width of the content area
$mobile:          414px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

*, html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  color: #666;
}

.page-content {
  width: 100%;
  max-width: 414px;
  margin: 0 auto;

  header.site-header{
    border-top: $yellow 4px solid;
    text-align: center;
    padding: 10px 0;
    background-image: url({{ "/images/background.png" | prepend: site.baseurl }});
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px
  }

  .menu{
    text-align: center;
    border-top: #666 thin solid;
    border-bottom: #666 thin solid;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;

    a {
      text-decoration: none;
      color: #666;
    }

    .fa-stack{
      font-size: 14px;
    }
  }
  .choose {
    text-align: center;
    border-top: #333 thin solid;
    border-bottom: #333 thin solid;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;

    a {
      text-decoration: none;
      color: #666;
    }
  }

  ul.city-list,
  ul.post-list {
    list-style: none;
    width: 90%;
    height: 375px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 18px;
    overflow-y: scroll;

    li {
      margin:15px 0;

      &:first-child {
        margin-top: 0;
      }

      a {
        text-decoration: none;
        color: #666;
      }
    }
  }
  .home {

    ul{
      display: inline-block;
      margin: 0 auto;

      &.list li{
        display: inline-block;
        margin: 15px 14px 0;

        img {
          max-width: 105px;
        }
      }

      h2{
        position: relative;
        color: #fff;
        font-size: 14px;
        text-align: center;

        span{
          position: absolute;
          left: 10px;
          bottom: 10px;
        }
      }
    }
  }

  .post {
    margin: 0 20px;

    .banner {
      background-color: $yellow;
      padding: 2px;
      width: 75%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
    }

    .post-content {

      h2 {
        margin: 0;
        font-weight: 400;
      }

      img {

        max-width: 150px;

        &.float-left{
          float: left;
          margin: 0 15px 15px 0;
        }
        &.float-right{
          float: left;
          margin: 0 0 15px 15px;
        }
      }
    }
  }
}

footer.site-footer {
  margin: 0;
  margin-top:20px;

  .wrapper {
    margin: 0 auto;
    text-align: center;

    a {
      background-color: #000000;
      color: #FFFFFF;
      text-decoration: none;
      padding: 7px 20px;
    }
  }
}
